@import "tailwindcss";
@import "stream-chat-react/dist/css/v2/index.css";

:root {
  --background: #F6F7F8;
  --foreground: #171717;
  --primary: #FE4F04;
  --primary-light: #FDBA6B;
  --secondary: #A63A09;
  --accent: #4E260C;
  --muted: #595858;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-baloo: var(--font-geist-baloo);
  --font-montserrat: var(--font-geist-montserrat);
}

@theme {
   --breakpoint-xs: 580px;
}

body {
  background: var(--background);
  color: var(--foreground);
}


@layer base {
  body {
    @apply font-montserrat;
  }

  h1,
  h2,
  h3,
  h4,
  h5{
    @apply font-baloo font-medium;
  }

  header {
    @apply font-baloo font-medium;
  }
}

  
   
.str-chat {
  --str-chat__font-family: inherit !important;
  --str-chat__primary-color: #DBDBDB !important;
  --str-chat__on-primary-color: var(--foreground) !important;
  --str-chat__active-primary-color: var(--foreground) !important;

  --str-chat__primary-color-low-emphasis: color-mix(
    in hsl,
    var(--primary) 10%,
    transparent
  ) !important;

  --str-chat__background-color: var(--background) !important;
  --str-chat__secondary-background-color: var(--background) !important;
  --str-chat__message-textarea-background-color: var(--background) !important;
  --str-chat__channel-preview-active-background-color: var(--primary-light) !important;
  --str-chat__channel-preview-hover-background-color: var(--primary-light) !important;
  --str-chat__secondary-surface-color: #DBDBDB !important;
  --str-chat__own-message-bubble-color: var(--foreground) !important;
  --str-chat__primary-surface-color: var(--primary-light) !important; 
  --str-chat__primary-surface-color-low-emphasis: var(
    --str-chat__primary-color-low-emphasis
  ) !important; 

  --str-chat__disabled-color: var(--muted) !important;
  --str-chat__cta-button-border-radius: 0.5rem !important;
}



.str-chat-channel-list {
  border-right: none !important;
}

.str-chat__channel-list-react .str-chat__channel-list-messenger-react {
  padding-bottom: 0 !important;
}



 