@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-baloo: var(--font-geist-baloo);
  --font-montserrat: var(--font-geist-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  body {
    @apply font-montserrat;
  } 

  h1, h2, h3, h4, h5 {
    @apply font-baloo font-medium;
  }

  header {
    @apply font-baloo font-medium;
  }
} 